@import '../../../index.scss';

.news__card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 3px rgba(34, 60, 80, 0.1);
  .news__title {
    color: $main-color;
  }
  .news__text {
    margin: 10px 0;
    font-size: $text-size;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .news__date{
    font-size: 13px;
    color: rgb(170, 170, 170);
  }
}
