@import '../../index.scss';

.createNews__container {
  margin-top: $margin-section;
  .createNews__form {
    margin-top: 20px;
    .form__title {
      display: block;
      @include input;
    }
    .form__text {
      margin: 20px 0;
      display: block;
      @include input;
    }
    button {
      @include button;
      &:hover {
        @include button-hover;
      }
    }
  }
  .createNews__message{
    display: block;
    margin-top: 10px;
    color: rgb(0, 146, 0);
  }
}

.error{
  border: 1px solid red !important;
}
